@import url('http://fonts.googleapis.com/css?family=Lato:400,700,900');
*{
    padding: 0;
    margin: 0;
    font-family: 'Lato';
    color: whitesmoke;
}
html{
    max-width: 100vw;
    overflow-x:hidden;
}

.section{
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    height: 100vh;
    width: 100%;
}

#about>.content,#contacts>.content{
    height: 140px;
    padding-top: calc(50vh - 140px);
}
#about>.content h1,#contacts>.content h1{
    padding-top: 20px;
    padding-bottom: 20px;
}



.section .centered-title{
    text-align: center;

    color: whitesmoke;
    font-size: medium;

}
.section .centered-title h3{
    font-size: larger;
}

.section:nth-child(1){
    background: url('../img/background.jpg');
    background-size: cover;

}
.section .content{
    text-align: justify;
    text-justify: inter-word;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 700px;
    color:white;
    font-size: medium;
}
.section:nth-child(2){
    background-color: #23363A;
}

.section:nth-child(3){
    background-color: #546E73;
}

.entry .centered-title{
    padding-top: 0;
}